body {
    font-family: Arial, sans-serif;
    text-align: center;
   
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px ;
    flex-direction: row;
   justify-content: center;
   border-radius: 10px;
    
}

.titulo{
    display: flex;
    flex-direction: row;
    
    
}

.titulo h1 {
    margin-right: 30px
}



button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

input {
    width: 50px;
    font-size: 16px;
}

.lista-card{
    display: flex;
    flex-direction: row;
    color: black;
    column-gap: 10px;
    padding-top:  10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
    text-shadow: 2px 2px 4px;
    font-size: 30px;
    

}

.detalher-corpo{
    border: 2px solid rgb(47,0, 255 );
    width: fit-content;
    border-radius: 2px solid rgb(255,27,270);

}

.color{
    display: flex;
    color: red;
    flex-direction: column;
}

.card{
    border: 2px solid black;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    
}

footer{
    background-color: #007bff;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.novaDIV{
    
    padding: 50px;
    color: white;
    border-radius: 20px;
    background-color: #007bff;
    margin-top: 10px;
    flex-direction: column;
   
    

}

